.view-mode {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.view-mode__back-button {
    margin: 20px 0;
}

.view-mode__video-player {
    margin: 20px 0;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}