.picture-card {
    height: 175px;
    width: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}
.picture-card__name,
.picture-card__description {
    background-color: black;
    color: white;
}
/* .picture-card__description {
    word-wrap: break-word;
} */